.test-favorites-delete {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.test-favorites-delete:hover {
    color: #ff5a5b;
    font-weight: bold;
}

.test-favorites-loading {
    display: none;
}