p.test-favorites-content a {
    text-decoration: underline;
    text-decoration-style: dotted;
    border: none;
    color: #326d8a;
}

p.test-favorites-content a:hover {
    text-decoration: none;

}

.test-favorites-loading {
    display: none;
}

.widget_test-favorites-widget ul{
    list-style: none;
}

.test-favorites-delete {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.test-favorites-delete:hover {
    color: #ff5a5b;
    font-weight: bold;
}